tmp/
bin/kt
config.sh
*/*.apk
**.CER
outapk/*
build/*
cers/readme.md
.DS_Store
apk/.DS_Store
bin/.DS_Store
bin/lib/.DS_Store
bin/standardsCer/.DS_Store
cers/.DS_Store
cers/dev/.DS_Store
cers/res/.DS_Store
